* {
  font-family: 'Quicksand', sans-serif;
}

body, html {
  margin: 0px;
}

#vue-app {
  display: grid;
}

button, .last-chapter-message > p {
  border: 0px;
  background: #000;
  color: #fff;
  font-size: 18px;
}

.page {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.page > img {
  display: block;
  margin: 10px auto;
}

.next-chapter {
  padding: 10px;
  text-align: center;
}

.last-chapter-message {
  padding: 15px;
  text-align: center;
}

.next-chapter > button, .last-chapter-message > p {
  padding: 12px;
}

#actual-manga {
  padding: 20px;
  text-align: center;
  font-size: 22px;
}

hr {
  border: 1px solid #094375;
  margin: 1px;
}

select {
  background: #000;
  color: #fff;
  font-size: 16px;
}

.choose-page {
  float: right;
  padding: 2px;
}
